[package]
#REPLACE project-name project-name
name = "project-name"
version = "0.1.0"
edition = "2021"

[dependencies]
esp-backtrace = { version = "0.14.1", features = [
    #REPLACE esp32c6 mcu
    "esp32c6",
    "exception-handler",
    "panic-handler",
    #IF option("probe-rs")
    #+"defmt",
    #ELSE
    "println",
    #ENDIF
]}

esp-hal = { version = "0.21.0", features = [
    #REPLACE esp32c6 mcu
    "esp32c6",
    #IF option("probe-rs")
    #+"defmt",
    #ENDIF
] }
#IF !option("probe-rs")
#REPLACE esp32c6 mcu
esp-println = { version = "0.12.0", features = ["esp32c6", "log"] }
log = { version = "0.4.21" }
#ENDIF
#IF option("alloc")
esp-alloc = { version = "0.5.0" }
#ENDIF
#IF option("wifi") || option("ble")
embedded-io = "0.6.1"

#IF option("embassy")
embedded-io-async = "0.6.1"
#IF option("wifi")
embassy-net = { version = "0.4.0", features = [ "tcp", "udp", "dhcpv4", "medium-ethernet"] }
#ENDIF
#ENDIF

esp-wifi = { version = "0.10.1", default-features=false, features = [
    #REPLACE esp32c6 mcu
    "esp32c6",
    "phy-enable-usb",
    "utils",
    #IF option("wifi")
    "wifi",
    "wifi-default",
    #ENDIF
    #IF option("ble")
    "ble",
    #ENDIF
    "esp-alloc",
    #IF option("probe-rs")
    #+"defmt",
    #ENDIF
    #IF !option("probe-rs")
    "log",
    #ENDIF
    #IF option("embassy")
    "async",
    #ENDIF
    #IF option("wifi")
    "embassy-net",
    #ENDIF
] }
heapless = { version = "0.8.0", default-features = false }
smoltcp = { version = "0.11.0", default-features = false, features = [
    "medium-ethernet",
    "proto-dhcpv4",
    "proto-igmp",
    "proto-ipv4",
    "socket-dhcpv4",
    "socket-icmp",
    "socket-raw",
    "socket-tcp",
    "socket-udp",
] }
#ENDIF
#IF option("ble")
#+ bleps = { git = "https://github.com/bjoernQ/bleps", package = "bleps", rev = "a5148d8ae679e021b78f53fd33afb8bb35d0b62e", features = [ "macros", "async"] }
#ENDIF
#IF option("probe-rs")
#+defmt            = "0.3.8"
#+defmt-rtt        = "0.4.1"
#ENDIF
#IF option("embassy")
embassy-executor = { version = "0.6.0",  features = [
    "task-arena-size-12288",
    #IF option("probe-rs")
    "defmt"
    #ENDIF
] }
embassy-time     = { version = "0.3.1",  features = ["generic-queue-8"] }
#REPLACE esp32c6 mcu
esp-hal-embassy  = { version = "0.4.0",  features = ["esp32c6"] }
static_cell      = { version = "2.1.0",  features = ["nightly"] }
#ENDIF

[profile.dev]
# Rust debug is too slow.
# For debug builds always builds with some optimization
opt-level = "s"

[profile.release]
codegen-units = 1        # LLVM can perform better optimizations using a single thread
debug = 2
debug-assertions = false
incremental = false
lto = 'fat'
opt-level = 's'
overflow-checks = false
