[package]
name         = "esp-generate"
version      = "0.3.0"
edition      = "2021"
rust-version = "1.84"
description  = "Template generation tool to create no_std applications targeting Espressif's chips"
repository   = "https://github.com/esp-rs/esp-generate"
license      = "MIT OR Apache-2.0"
keywords     = ["esp32", "template"]
categories   = ["command-line-utilities", "template-engine"]

include = [
    "Cargo.toml",
    "LICENSE-APACHE",
    "LICENSE-MIT",
    "README.md",
    "src",
    "template",
]

[features]
default = ["update-informer"]
update-informer = ["dep:update-informer"]

[dependencies]
clap            = { version = "4.5.30", features = ["derive"] }
crossterm       = "0.28.1"
env_logger      = "0.11.6"
esp-metadata    = { version = "0.5.0", features = ["clap"] }
log             = "0.4.26"
ratatui         = { version = "0.29.0", features = ["crossterm", "unstable"] }
rhai            = "1.21.0"
taplo           = "0.13.2"
update-informer = { version = "1.1.0", optional = true }
serde           = { version = "1.0.218", features = ["derive"] }
serde_yaml      = "0.9"

[build-dependencies]
quote   = "1.0.38"
walkdir = "2.5.0"
