#INCLUDEFILE ci
name: Continuous Integration

on:
  push:
    paths-ignore:
      - "**/README.md"
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  rust-checks:
    name: Rust Checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        action:
          - command: build
            args: --release
          - command: fmt
            args: --all -- --check --color always
          - command: clippy
            args: --all-features --workspace -- -D warnings
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Rust
#IF option("riscv")
        uses: dtolnay/rust-toolchain@v1
        with:
#REPLACE riscv32imac-unknown-none-elf rust_target
          target: riscv32imac-unknown-none-elf
          toolchain: stable
          components: rust-src, rustfmt, clippy
#ENDIF
#IF option("xtensa")
#+        uses: esp-rs/xtensa-toolchain@v1.5
#+        with:
#+          default: true
#REPLACE esp32c6 mcu
#+          buildtargets: esp32
#+          ldproxy: false
#ENDIF
      - name: Enable caching
        uses: Swatinem/rust-cache@v2
      - name: Run command
        run: cargo ${{ matrix.action.command }} ${{ matrix.action.args }}
