#REPLACE riscv32imac-unknown-none-elf rust_target
[target.riscv32imac-unknown-none-elf]
#IF option("probe-rs")
#REPLACE esp32c6 mcu
runner = "probe-rs run --chip=esp32c6 --preverify --always-print-stacktrace --no-location --catch-hardfault"
#ELIF option("defmt")
#REPLACE esp32c6 mcu
#+runner = "espflash flash --monitor --chip esp32c6 --log-format defmt"
#ELSE
#REPLACE esp32c6 mcu
#+runner = "espflash flash --monitor --chip esp32c6"
#ENDIF

[env]
#IF option("defmt")
DEFMT_LOG="info"
#ELIF option("log")
ESP_LOG="info"
#ENDIF

[net]
retry = 3                   # network retries
git-fetch-with-cli = true   # use the `git` executable for git operations
offline = false     

[build]
rustflags = [
#IF option("xtensa")
  "-C", "link-arg=-nostartfiles",
#ELIF option("riscv")
  # Required to obtain backtraces (e.g. when using the "esp-backtrace" crate.)
  # NOTE: May negatively impact performance of produced code
  "-C", "force-frame-pointers",
#ENDIF
#IF option("stack-smashing-protection")
  "-Z", "stack-protector=all",
#ENDIF
]

#REPLACE riscv32imac-unknown-none-elf rust_target
target = "riscv32imac-unknown-none-elf"

[unstable]
#IF option("alloc")
build-std = ["alloc", "core"]
#ELSE
#+build-std = ["core"]
#ENDIF
