name: Changelog check

on:
  pull_request:
    types: [opened, reopened, labeled, unlabeled, synchronize]

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Check that changelog updated
        uses: dangoslen/changelog-enforcer@v3
        with:
          skipLabels: "skip-changelog"
          missingUpdateErrorMessage: "Please add a changelog entry in the CHANGELOG.md file."
